<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
<meta charset="utf-8">
<title>bikekhareedlo</title>
   
<!-- EMB GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    
<!-- STYLE SHEETS -->
    
    
  

</head>
<body>

<!-- PAGE HEADER GOES HERE -->
    <header>

        
          
        <h1>bikekhareedlo</h1>
        <h2>Quality you can buy</h2>
    </header>
    
<!-- PAGE NAVIGATION GOES HERE -->
    
    
        
   
   
<div class="navbar">
    <a href="/indexl">Home</a>
       <div class="dropdown">
      <button class="dropbtn">menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
        
        </div>   
        <div class="row">
          <div class="column">
            <h3>  BAJAJ</h3>
            <a href="bajajpulsurl">Bajaj Pulsar RS200</a>
            <a href="avangerl">Bajaj Avanger Stroot 180</a>
            <a href="dominarl">Bajaj Dominar 400</a>
          </div>
          <div class="column">
            <h3>SUZUKI</h3>
            <a href="suzukihayabusal">Suzuki Hayabusa</a>
            <a href="suzukiintruderl">Suzuki Intruder</a>
            <a href="gxrl">Suzuki GSXR1000</a>
          </div>
          <div class="column">
            <h3>HERO</h3>
            <a href="splendorl">Hero Splender iSmart</a>
            <a href="xtremel">Hero Xtreme Sports</a>
            <a href="heropassionxprol">Hero Passion XPro</a>
          </div>
          <div class="column">
            <h3>ROYAL ENFIELD</h3>
            <a href="thunderbirdl">RF ThunderBird 350X </a>
            <a href="royalhimalayanl">RF Himalaya</a>
            <a href="bulletl">RF Bullet 350</a>
          </div>
        </div>
      </div>
    </div> 
     <div class="topnav-right">
          <a href="/logout">log out </a>
          
          
        </div>
      </div>
      
  </div>
  
  
   
   
   
   
   
   
    <!--page content goes here-->
    <main class="clearfix">
        <figure class="banner">
            
                <img src="./images/pic1.jpg" alt="Snow">
                
              
              
        </figure>
    
          
        
        
        
        <h1>Hero bikes</h1>
        <hr class="fadeAway">
        
        <figure class="photo">
        <img src="./images/31331_HeroSplendor_iSmart110_022.jpg" alt="black car" >
            <figcaption><a href="splendorl">SALE: Rs 50,000</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/Hero-Xtreme-Sports-white-and-blue-side-at-Auto-Expo-2016.jpg" alt="black car" >
            <figcaption><a href="xtremel">SALE: Rs 78,700</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/40026_Hero-Passion-Xpro-i3s--012.JPG" alt="black car" >
            <figcaption><a href="heropassionxprol">SALE: Rs 54,300</a></figcaption>
        </figure>
        <h1>Bajaj bikes</h1>
        <hr class="fadeAway">
        
        <figure class="photo">
        <img src="./images/Bajaj-Pulsar-RS-200-Specifications.jpg" alt="black car" >
            <figcaption><a href="bajajpulsarl">SALE: Rs 1,25,587</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/Bajaj-Avenger-180-Street-test-ride-review-left-side.jpg" alt="black car" >
            <figcaption><a href="avangerl">SALE: Rs 85,997</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/40142_Dominor_Canyon-Red.jpg" alt="black car" >
            <figcaption><a href="dominarl">SALE: Rs 1,46,111</a></figcaption>
        </figure>
    
        <h1>Suzuki bikes</h1>
        <hr class="fadeAway">
        
        <figure class="photo">
        <img src="./images/39427_Suzuki_Intruder_150-010.JPG" alt="black car" >
            <figcaption><a href="suzukiintruderl">SALE: Rs 99,995</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/hayabusa-blue.jpg" alt="black car" >
            <figcaption><a href="suzukihayabusal">SALE: Rs 13.59 L</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/gsx-r1000al8_yww_diagonal-min-new.jpg" alt="black car" >
            <figcaption><a href="gxrl">SALE: Rs 19.80 L</a></figcaption>
        </figure>
        <h1>Royal Enfield</h1>
        <hr class="fadeAway">
        
        <figure class="photo">
        <img src="./images/royal enfield thunder 350x.jpg" alt="black car" >
            <figcaption><a href="thunderbirdl">SALE: Rs 1.56 L</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/royal-enfield-classic-350-redditch-green.png" alt="black car" >
            <figcaption><a href="bulletl">SALE: Rs 1.30 L</a></figcaption>
        </figure>
        
        
        <figure class="photo">
        <img src="./images/royalenfield-himalayan-bike-1.jpg" alt="black car" >
            <figcaption><a href="royalhimalayanl">SALE: Rs 1.71 L</a></figcaption>
        </figure>
    
       
       
       
       
       
        
        <div class="pop">
        <p class="title">Summer's On Us</p>
        <p class="subtitle">Sales Event</p>
        <p class="copy"><span>0</span> payments for 5 months</p>
        <p class="copy"><span>0</span> % interest for 5 months</p>
        </div>
   
    
    <!-- PAGE FOOTER GOES HERE -->
    <footer>
           <div><p><a href="disclaimerl">disclaimer</a></p></div>

   
   <div> <p>&copy;online bike store &bull; <a href="tel:9875551234">987-555-1234</a></p></div>


</footer>

</body>
</html>