<!DOCTYPE html>
<html>
  <head>
    <title>bikekhareedlo Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>bikekhareedlo</h1>
    <p>Welcome to bikekhareedlo Admin</p>
    <h4><a href="/users">Users List</a></h4>
    <h4><a href="/buyers">Orders Received</a></h4>
    <h4><a href="/contacts">Feedback/Suggestions Received</a></h4>
    
  </body>
</html>
